html {
  scroll-behavior: smooth;
}
html, body {
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
